<div class="ui-g">
  <div class="ui-g-12" style="text-align: center">
    <h1>Quản lý người dùng</h1>
  </div>
  <div class="ui-g-12">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-9 add-button-box">
        <p-button label="Thêm mới" icon="ui-icon-add-circle" (onClick)="prepareAddUser($event)"></p-button>
      </div>
      <div class="ui-g-12 ui-md-3">
        <div class="ui-g form-group">
          <div class="ui-inputgroup search-box">
            <span class="md-inputfield">
              <input type="text" pInputText class="search-input" [(ngModel)]="keyword" (keyup.enter)="searchUsers()">
              <label>Nhập tài khoản, tên, hoặc số điện thoại</label>
            </span>
            <button pButton type="button" icon="ui-icon-search" (onClick)="searchUsers()"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g-12">
    <p-table [columns]="cols" [value]="users" [responsive]="true" [resizableColumns]="true">
      <ng-template pTemplate="caption">
        Danh sách người dùng
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th>Thời gian tạo</th>
          <th>Ngày sinh</th>
          <th>Trạng thái</th>
          <th>Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
          <td style="text-align: center">
            {{rowData.created | date: 'medium'}}
          </td>
          <td style="text-align: center">
            {{rowData.birthDate | date: 'medium'}}
          </td>
          <td style="text-align: center">
            <button pButton *ngIf="rowData.status === 1" icon="ui-icon-check" (click)="changeStatus(rowData)"></button>
            <button pButton *ngIf="rowData.status === 2" icon="ui-icon-close" (click)="changeStatus(rowData)"></button>
          </td>
          <td style="text-align: center">
            <button pButton icon="ui-icon-create" (click)="selectUser(rowData)"></button>
            <button pButton icon="ui-icon-vpn-key" (click)="changePassword(rowData)"></button>
            <button pButton icon="ui-icon-delete" (click)="confirmDeleted(rowData)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,20,30]"
      (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>
<p-toast></p-toast>
<p-confirmDialog header="Xác nhận thao tác" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-dialog [(visible)]="showDialogChangePassword">
  <p-header>
    Thay đổi mật khẩu
  </p-header>
  <div class="ui-g form-group">
    <div class="ui-g-12 ui-md-12">
      <span class="ui-float-label">
        <input pPassword id="password" [(ngModel)]="userChangePassRequest.password" style="width: 90%"
          type="password" />
        <label for="password">Mật khẩu</label>
      </span>
    </div>
    <div class="ui-g-12 ui-md-12">
      <span class="ui-float-label">
        <input pPassword id="confirmPassword" [(ngModel)]="confirmPassword" style="width: 90%" type="password" />
        <label for="confirmPassword">Xác nhận mật khẩu</label>
      </span>
    </div>
  </div>

  <div class="ui-g-12" style="text-align: right;">
    <p-button label="Lưu" icon="ui-icon-save" (onClick)="saveChangePass($event)" class="diaglog-action-button">
    </p-button>
    <p-button label="Hủy" icon="ui-icon-cancel" (onClick)="cancelChangePass()" class="diaglog-action-button"></p-button>
  </div>
</p-dialog>