<div class="table table-hover">
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let emp of list">
      <td (click)="onEdit(emp)">{{emp.firstname}}</td>
      <td (click)="onEdit(emp)">{{emp.lastname}}</td>
      <td (click)="onEdit(emp)">{{emp.email}}</td>
      <td (click)="onEdit(emp)">{{emp.number}}</td>
      <td><a class="btn text-danger" (click)="onDelete(emp.id)"><i class="fa fa-trash"></i> </a></td>
    </tr>
  </tbody>
</div>