<div class="row">
  <div class="col-md-6 form-group">
    <input placeholder="First Name" type="text" class="form-control">
  </div>
  <div class="col-md-6 form-group">
    <input placeholder="Last Name" type="text" class="form-control">
  </div>
</div>

<div class="row">
  <div class="col-md-12 form-group">
    <input placeholder="Email" type="text" class="form-control">
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <input placeholder="Contact" type="text" class="form-control">
  </div>
  <div class="col-md-6 form-group">
    <input placeholder="Address" type="text" class="form-control">
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <button class="btn btn-success btn-block btn-lg"> <i class="fa fa-save"></i> SAVE</button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary btn-block btn-lg"> <i class="fa fa-retweet"></i> CLEAR</button>
  </div>
</div>