<div class="ui-g">
  <div class="ui-g-12" style="text-align: center">
    <h1>Hồ Sơ Thanh Toán</h1>
  </div>
  <div class="ui-g-12">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-9 add-button-box">
        <p-button label="Thêm mới" icon="ui-icon-add-circle" (onClick)="prepareAddPayment($event)"></p-button>
      </div>
      <div class="ui-g-12 ui-md-3">
        <div class="ui-g form-group">
          <div class="ui-inputgroup search-box">
            <span class="md-inputfield">
              <input type="text" pInputText class="search-input">
              <label>Nhập tên khách hàng</label>
            </span>
            <button pButton type="button" icon="ui-icon-search"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g-12">
    <p-table #dt [columns]="cols" [value]="payments" [responsive]="true">
      <ng-template pTemplate="caption">
        Danh Sách Thanh Toán
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th class="lichsu">Lịch Sử Khám Chữa</th>
          <th class="thaotac">Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
          <td>
            <button class="ui-button-danger" style="background-color: #6b6b47; color: white; " pButton type="button"
              label="Xem" (click)="xem()"></button>
          </td>
          <td>
            <button class="ui-button-danger" style="background-color: #6b6b47; color: white; " pButton type="button"
              label="Sửa" (click)="sua()"></button>
            <button class="ui-button-danger" style="background-color: #6b6b47; color: white; " pButton type="button"
              label="Xóa" (click)="xoa()"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,20,30]"
      (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>
<p-toast></p-toast>





 